<ion-header color=primary>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Star War characters</h3>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let list of film">
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/starwars.jpg">
        </ion-thumbnail>
        <h2>{{list.title}}</h2>
        <p>{{list.opening_crawl}}</p>
        <p>Diretor: {{list.director}}</p>
        <p>Produtor: {{list.producer}}</p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let list of loading">
        <h2>{{list.name}}</h2>
        <p>{{list.mass}}</p>
        <p>{{list.terrain}}</p>
        <button ion-button full>Detalhes</button>
      </ion-item>

      <ion-item *ngFor="let list of film">
        <h2>{{list.title}}</h2>
        <p>{{list.opening_crawl}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button primary (click)="goToTestPage()">Test Page</button>
</ion-content>